*{
    margin: 0;
    padding: 0;
    font-family: Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    }
    
    body{
    background:  linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
    color: #ffff;
    }
    
    
    
    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-evenly;
     
    }
    .intro-name{
        color: #CC0F4E;
        font-weight: bold;
        font-size: 35px;
        text-shadow: 7px 4px 5px rgb(14, 14, 14);
    }
    
   

    
    nav ul li{
        list-style: none;
        display: inline-block;
        padding: 10px 10px;
        margin: 20px;
        text-shadow: 2px 2px 4px 2px grey;
    }
    
    nav ul li a{
        color: #ffff;
        text-decoration: none;
        position: relative;
    }
    
    nav ul li a::after{
       content: '';
       width: 0;
       height: 2px;
       background: #CC0F4E;
       position: absolute;
       left: 0;
       bottom: -7px;
       transition: 0.5ms;
    
    }
    
    nav ul li a:hover::after{
        width: 100%;
    
    }
    .intro-text{
        margin-top: 10% ;
        font-size: 17px;
        margin-left: 74px;
    }
    .intro-text h1{
        padding-bottom: 10px;
    
    }
    
    .intro-text p{
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 10px;
    
    }
    
    .intro-text span{
        color: #CC0F4E;
        text-shadow: 7px 4px 5px rgb(14, 14, 14);
    }
    
    
/* section two. About me */

.about-me-cols{
    margin: 40px 40px;
    display: flex;
    justify-content: space-between;
}
.about-me-col1{
    flex-basis: 35%;
}
.About-me-img{
    width: 100%;
    border-radius: 60%;

}


.about-me-col2{
    flex-basis: 60%;
}
.info-about-me{
    padding-top: 20px;
}

.about-me-titles{
    color: #CC0F4E;
    font-size: 25px;
    text-shadow: 7px 5px 4px black;

}
.about-me-titles{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.title-contents li{
    list-style: none;
    padding-top: 15px;
}